.top {
  border-radius: 20px;
  left: 725px;
  top: 0px;
  width: 750px;
  padding-left: 50px;
  position: absolute;
  height: 175px;
  background-color: #1597bb;
}
.top h1 {
  padding-left: 0px;
  left: 50px;
  width: 500px;
  padding-right: 50px;
  color: white;
  text-align: right;
  position: absolute;
  right: 300px;
  top: 20px;
  font-family: "Cinzel", serif;
}

.Pro {
  position: relative;
  top: -13px;
  left: 0px;
  padding-left: 100px;
  padding-right: 409px;
  height: 170px;
  width: 536px;
  color: white;
}
.Pro img {
  height: 115px;
  width: 300px;
  position: absolute;
  top: 15px;
  left: 247px;
  right: 0px;
}

.first {
  position: relative;
  top: 50px;
  left: 60px;
  height: 90px;
  width: 1000px;
}
h5 {
  background-color: #f0f5f9;
  width: 1450;
  font-size: 25px;
  font-family: "Tinos", serif;
  width: 1400px;
  padding-top: 5px;
  padding-bottom: 5px;
  margin-top: 25px;
}
.para p {
  text-align: justify;
  margin-top: 0px;
  position: relative;
  left: 0px;
  margin-bottom: 0px;
  width: 1375px;
  font-family: "Roboto Slab", serif;
  padding-bottom: 29px;
  padding-left: 0px;
  top: -16px;
  font-size: 21px;
  color: black;
}
.h4 h4 {
  text-align: center;
  font-size: 23px;
  background-color: #eeebdd;
  color: black;
  font-family: "Tinos", serif;
  width: 460px;
  position: relative;
  right: 913px;
  top: -9px;
  padding-right: 10px;
}

h6 {
  background-color: #e2e2e2;
  width: 1250px;
  font-size: 25px;
  font-family: "Tinos", serif;
  padding-top: 5px;
  padding-bottom: 5px;
  margin-left: 65px;
  margin-top: 25px;
  font-size: 20px;
  font-family: "Roboto Slab", serif;
}

.signs label {
  font-size: 21px;
  font-family: "Roboto Slab", serif;
}

.Date label {
  font-size: 21px;
  position: absolute;
  top: 10068px;
  left: 32px;
  font-family: "Roboto Slab", serif;
  padding-top: 2px;
  width: 100px;
}
.Date input {
  position: relative;
  right: 0px;
  margin-top: 110px;
  margin-right: 150px;
  bottom: 105px;
  font-size: 18px;
  padding: 5px;
  border: 1px solid #ccc;
  width: 250px;
  height: 25px;
  border-radius: 8px;
}

.Name input {
  font-size: 18px;
  position: relative;
  border: 1px solid #ccc;
  width: 250px;
  height: 25px;
  font-family: "Roboto Slab", serif;
  text-transform: capitalize;
  border-radius: 8px;
}

.id input {
  font-size: 18px;
  position: relative;
  border: 1px solid #ccc;
  width: 250px;
  height: 25px;
  font-family: "Roboto Slab", serif;
  text-transform: capitalize;
  border-radius: 8px;
}
